/* reset do css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(../css/image/malha1-01.png);
	background-size: 250vh;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 100vh;
	font-size: 18px;
}
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
	body {
		font-size: 14px;
	}
}

/* breakpoint */
@media (min-width: 600px) {
	body {
		font-size: 18px;
	}
}
header {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	background-color: #e6cb50;
	position: fixed;
	width: 100vw;
	top: 0;
}
.menu ul {
	display: flex;
	justify-content: space-around;
}
.menu li {
	list-style: none;
}
.menu a {
	display: block;
	padding: 10px 20px;
}
a {
	color: teal;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.site-title {
	color: black;
	text-align: center;
	font-size: 4em;
}
.site-subtitle {
	color: teal;
	text-align: center;
	font-size: 20px;
}
.img-portfolio {
	width: 280px;
	height: 180px;
}
section {
	background-color: #e6cb50;
}
