/* reset do css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
	background: url(../css/image/malha1-01.png);
	background-size: 250vh;
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	font-size: 18px;
}
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 300px) {
	body {
		font-size: 14px;
	}
}

/* breakpoint */
@media (min-width: 600px) {
	body {
		font-size: 18px;
	}
}
.logo img {
	position: fixed;
	justify-content: space-between;
	top: 9px;
	margin-left: 200px;
	width: auto;
	height: 65px;
}
header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
}
.menu ul {
	display: flex;
	justify-content: space-evenly;
}
.menu li {
	list-style: none;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
.menu a {
	display: block;
	padding: 30px 20px;
}
a {
	color: #fd5d4f;
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.3em;
}
a:hover {
	text-decoration: none;
	color: #003663;
}
.site-title {
	color: black;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
}
.site-subtitle {
	color: #fd5d4f;
	text-align: left;
	font-family: 'Rajdhani', sans-serif;
	font-size: 2em;
	line-height: 2.5em;
}
.background-portfolio {
	background-color: #fd5d4f;
	padding: 2.8em;
}
.portfolio {
	padding: 2em;
	height: 100vh;
}
.portfolio h2 {
	color: black;
	font-size: 2.5em;
	font-family: 'Rajdhani', sans-serif;
}
.portfolio .grid {
	display: grid;
	gap: 2em;
}
@media (min-width: 500px) {
	.portfolio .grid {
		grid-template-columns: 280px 280px;
	}
}
@media (min-width: 880px) {
	.portfolio .grid {
		grid-template-columns: repeat(3 280px);
		align-content: center;
		justify-content: center;
		height: calc(100vh - 8em - 48px);
	}
}
.portfolio figure {
	text-align: center;
	font-size: 1.5em;
}
.img-portfolio {
	width: 280px;
	height: 180px;
	object-fit: cover;
	object-position: center;
	border-radius: 3px;
}
