/* reset do css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
	background-color: white;
	background-size: auto 100vh;
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	font-size: 14px;
}
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
	body {
		font-size: 14px;
	}
}
/* breakpoint */
@media (min-width: 600px) {
	body {
		font-size: 18px;
	}
}
/* breakpoint */
@media (min-width: 1200px) {
	body {
		font-size: 20px;
	}
}
header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-container-logo {
	position: fixed;
	background-color: white;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: auto;
}
.menu-container-logo {
	width: 100vw;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}
.menu ul {
	max-width: 940px;
	display: flex;
	float: right;
	position: relative;
	margin-right: 70px;
}
.menu li {
	list-style: none;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
.menu a {
	display: block;
	padding: 30px;
	transition: background-color 1s, color 1s;
}
a {
	color: #fd5d4f;
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.5em;
}
.logo img {
	position: absolute;
	vertical-align: middle;
	display: inline-block;
	padding: 0;
	top: 9px;
	width: auto;
	height: 65px;
}
.logo {
	padding-left: 40px;
	float: left;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
.text-title-box {
	position: absolute;
	padding: 3rem;
	margin-left: auto;
	width: 80%;
	word-wrap: break-word;
	line-height: 1.5em;
}
.site-title {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 4em;
	line-height: 1em;
}
.site-subtitle {
	text-align: left;
	color: black;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.8em;
	line-height: 1.3em;
}
.grid-row {
	align-items: flex-start;
}
.links-social {
	display: relative;
	padding: 0;
	font-size: 1.1em;
	text-decoration: none;
	z-index: auto;
	margin-right: 50px;
}
.background-portfolio-1 {
	position: relative;
	overflow: visible;
	width: 100%;
	background-color: #003663;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 100vh;
}
.content-padding-1 {
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.portfolio h2 {
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	color: white;
	margin-bottom: 0;
	padding: 0;
	font-size: 2em;
	font-weight: 900;
	word-wrap: break-word;
}
.background-portfolio-2 {
	position: relative;
	overflow: visible;
	width: 100%;
	background-color: black;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 100vh;
}
.background-portfolio-3 {
	position: relative;
	overflow: visible;
	width: 100%;
	background-color: #e1e1e1;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 100vh;
}
.portfolio .grid {
	display: grid;
	gap: 6em;
}
@media (min-width: 560px) {
	.portfolio .grid {
		grid-template-columns: 240px 240px;
	}
}
@media (min-width: 880px) {
	.portfolio .grid {
		grid-template-columns: repeat(3, 260px);
		align-content: center;
		justify-content: center;
		height: calc(100vh - 8em - 48px);
	}
}
.portfolio figure {
	text-align: center;
}
.img-portfolio {
	height: 280px;
	width: 640px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	object-fit: cover;
	object-position: center;
	transition: transform 900ms;
}
.img-portfolio:hover {
	transform: scale(1.2);
}
.content_footer {
	background-color: black;
	height: 15vh;
	width: 100%;
	margin-top: 0%;
	padding-top: 20px;
}
.contato .icons {
	text-align: center;
}
.contato a {
	color: white;
	font-size: 1em;
	margin: 5px;
}
.contato a:hover {
	opacity: 0.3;
	text-decoration: none;
}
.text-block {
	position: static;
	color: white;
	margin-top: 0;
	padding-top: 5px;
	font-size: 10px;
	text-align: center;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #fd5d4f;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 2px;
}
#myBtn:hover {
	background-color: #e1e1e1;
	color: #000000;
}
/* Contact */

.text-title-box-contact {
	position: absolute;
	padding: 3rem;
	margin-left: auto;
	width: 80%;
	word-wrap: break-word;
	line-height: 1em;
}
.site-title-contact {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 4em;
	line-height: 1em;
}
.site-title-contact a {
	text-decoration: #fd5d4f;
	text-decoration-line: line-through;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
}
.site-title-contact a:hover {
	text-decoration: black;
	color: #000000;
	text-decoration-line: line-through;
}
.site-subtitle-contact2 {
	text-align: left;
	color: black;
	font-family: 'Raleway';
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 1.8em;
	line-height: 3em;
}
.grid-row {
	align-items: flex-start;
}
.links-social-contact {
	color: #fd5d4f;
	font-family: 'Rajdhani';
	font-weight: 800;
	display: relative;
	padding: 0;
	font-size: 1.1em;
	text-decoration: none;
	z-index: auto;
	margin-right: 50px;
}
/* About */
.text-title-box-about {
	position: absolute;
	padding: 3rem;
	margin-left: auto;
	margin-top: 200px;
	width: 80%;
	word-wrap: break-word;
	line-height: 2.5em;
}
.about-first {
	text-align: left;
	text-decoration: #fd5d4f;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 4em;
	line-height: 2em;
}
.about-second {
	text-align: left;
	color: black;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.2em;
	width: 80%;
}